

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
 font-family: 'Barlow', sans-serif;
}

h1, h2, h3,h4,h5,h6   {
  font-family: 'Inter', sans-serif;
}

  /* Swiper Pagination Dots Style */
  .swiper-pagination-bullet {
    background-color: #6d6d6d !important; /* inactive */
    opacity: 1 !important; /* default opacity hata diya */
  }
  .swiper-pagination-bullet-active {
    background-color: #000000 !important; /* active black */
  }